RewriteEngine On
RewriteBase /jogos/

# Página de Erro Personalizada
ErrorDocument 404 /jogos/404.html

# Dashboard Padrão
DirectoryIndex index_ps5.html index.html index.php

# URLs amigáveis para os Temas PlayStation
RewriteRule ^ps2/?$ index_ps2.html [L]
RewriteRule ^ps3/?$ index_ps3.html [L]
RewriteRule ^ps4/?$ index_ps4.html [L]
RewriteRule ^ps5/?$ index_ps5.html [L]


# Remover extensão .html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]

# Remover extensão .php (opcional, para acesso direto a scripts se houver)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]
